* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url(./bg.jpg) no-repeat center center/cover;
}

.container {
  width: 400px;
  height: auto;
  border-radius: 3px;
  background: #e2e2e2;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3);
  
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.form {
  padding: 30px;
  background: #2c2c2c;
  clip-path: polygon(0 0, 100% 0%, 100% 100%, 0% 90%);
}

.form__text {
  color: #fff;
  font-size: 30px;
  text-align: center;
  margin-bottom: 20px;
}

.form__group {
  position: relative;
  margin-bottom: 30px;
}

.form__input {
  cursor: pointer;
  display: block;
  font-size: 12px;
  width: 100%;
  background: #e2e2e2;
  color: #000;
  margin-bottom: 10px;
  padding: 15px;
  border-radius: 3px;
  border: none;
  border-bottom: 2px solid transparent;

  transition: all 0.2s ease;
}

.form__input:focus{
  outline: none;
  border-bottom: 2px solid #ff0400;
}

.form__label {
  display: block;
  position: absolute;
  top: 15px;
  left: 10px;
  color: #777;
  font-size: 12px;
  font-weight: bold;
  padding: 3px;

  transition: all 0.2s;
}

.form__input:focus + .form__label,
.form__input:valid + .form__label {
  top: -22px;
}

/* button style */
.form__button {
  text-align: center;
  margin-bottom: 10px;
}

.btn {
  display: inline-block;
  cursor: pointer;
  font-size: 15px;
  font-weight: bold;
  text-decoration: none;
  background-color: #dadada;
  color: #2c2c2c;
  padding: 12px 40px;
  border-radius: 3px;
  border: 1px solid transparent;

  
  transition: all 0.2s;
}

.btn:hover {
  background: transparent;
  color: #fff;
  border: 1px solid #000;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.4);
}

/* bottom style */
.from__bottom {
  text-align: center;
  margin-bottom: 20px;
}

.from__bottom .sign {
  color: #2c2c2c;
  font-size: 12px;
}

.from__bottom .social {
  font-size: 15px;
  color: #fff;
  margin-top: 8px;
  
  display: flex;
  align-items: center;
  justify-content: center;
}

.social i {
  height: 35px;
  width: 35px;
  margin-right: 15px;
  border-radius: 50%;
  background: #2c2c2c;
  cursor: pointer;

  display: flex;
  align-items: center;
  justify-content: center;

  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.4);
  transition: all .2s;
}

i:hover {
  box-shadow: 0 20px 30px rgba(0, 0, 0, 0.2);
  transform: translateY(-2px);
}

i:active {
  transform: translateY(0);
}